@charset "UTF-8";
/* Color */
/* Gradient */
/**** Degree Gradient ****/
/**** width ****/
/* Loading spinner animation delay */
/**** Responsive ****/
/**** cercle ****/
/**** Shadow ****/
/**** gradient ****/
/**** Responsive ****/
* {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

/**** font weight ****/
/**** set-logo ****/
/**** title d'en tête ****/
.button {
  display: block;
  padding: 16px 25px;
  border-radius: 25px;
  font-family: "roboto";
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  color: #FFFFFF;
  text-align: center;
  background: linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%);
  color: #FFFFFF;
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  transition: background 300ms, box-shadow 300ms;
  margin: 25px;
}
.button:hover {
  opacity: 0.88;
}
.button--long {
  width: 50%;
  min-width: 150px;
  max-width: 250px;
}

.menu-button {
  padding: 40px;
}

.restaurants {
  background-color: #f2f2f2;
  margin-top: 40px;
  padding: 10px;
  width: 96%;
}
@media all and (min-width: 1024px) {
  .restaurants {
    padding: 30px 0px;
    width: 100%;
  }
  .restaurants h2 {
    margin-left: 65px;
  }
}
@media all and (min-width: 1024px) {
  .restaurants_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px 80px 0px 80px;
  }
}
.restaurants_card {
  position: relative;
  width: 100%;
  height: 260px;
  border-radius: 30px;
  margin-bottom: 30px;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: white;
  text-align: left;
  transition: transform 0.2s ease-in-out;
}
@media all and (min-width: 1024px) {
  .restaurants_card {
    width: 40%;
  }
}
.restaurants_card:hover {
  transform: scale(1.01);
}
.restaurants_card_img {
  width: 100%;
  height: 75%;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurants_card h3 {
  margin: 0;
  font-size: 18px;
}
.restaurants_card p {
  font-size: 17px;
  margin: 0;
  font-weight: 300;
}
.restaurants_card_content {
  padding: 5px 10px 10px 15px;
}

.icons {
  font-size: 25px;
  width: 35px;
  height: 35px;
  position: absolute;
  bottom: 16px;
  right: 16px;
  display: flex;
  gap: 8px;
}
.icons_reposition {
  font-size: 30px;
  position: relative;
  display: flex;
  gap: 8px;
}
.icons icons-liked {
  display: inline-block;
  opacity: 1;
}
.icons icons-notLiked {
  display: none;
}
.icons:hover .icons-liked, .icons:active .icons-liked {
  opacity: 1;
}
.icons-notLiked {
  position: absolute;
}
.icons-liked {
  position: relative;
  background: linear-gradient(160deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
}

.new {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  font-size: 20px;
  margin: 0;
  padding: 5px 10px;
  border-radius: 4px;
  color: #4d7052;
  background-color: #99e2d0;
  animation: new 1600ms ease-in-out;
  animation-iteration-count: infinite;
}

.img {
  width: 100%;
}

.body {
  width: 100%;
  margin: 0;
}

.header {
  padding: 2%;
  width: 96%;
}
.header h1 {
  font-family: shrikhand;
}
.header_logo {
  margin: 0;
  text-align: center;
}
.header_withorrow {
  position: relative;
}
.header_goback {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 5%;
  width: 20px;
  height: 20px;
  top: 35%;
  font-size: 20px;
}

.footer {
  padding: 22px 25px;
  background-color: #353535;
  width: 88%;
}
@media all and (min-width: 768px) {
  .footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 114px;
    gap: 16px;
  }
}
@media all and (min-width: 1024px) {
  .footer {
    flex-flow: row-reverse;
    align-items: baseline;
    gap: 90px;
    width: 96%;
  }
}
.footer h2 {
  font-family: shrikhand;
  font-weight: lighter;
  color: white;
  font-size: 18px;
}
.footer i {
  margin-right: 10px;
}
.footer p {
  margin: 5px 0;
}
.footer ul {
  list-style: none;
  padding: 0;
}
@media all and (min-width: 1024px) {
  .footer ul {
    list-style: none;
    flex-flow: row;
    display: flex;
    align-items: center;
    gap: 30px;
  }
}
.footer li {
  color: white;
  list-style: none;
  padding-bottom: 5px;
}
.footer_logo {
  margin: 0 0 16px 0;
  font-size: 18px;
}
@media all and (min-width: 1024px) {
  .footer_logo {
    width: 137px;
    margin: 0;
  }
}
.footer__bloc {
  display: flex;
  flex-direction: column;
}
@media all and (min-width: 1024px) {
  .footer__bloc {
    flex-direction: row;
    align-items: center;
    gap: 7px;
  }
}
.footer__nav {
  display: flex;
  align-items: center;
  font-weight: 500 map-get;
  gap: 7px;
}
@media all and (min-width: 1024px) {
  .footer__nav {
    width: 190px;
  }
}
.footer__nav_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 13px;
  font-size: 13px;
}
@media all and (min-width: 768px) {
  .footer__nav--info p {
    width: 130px;
    height: 20px;
  }
}

/**** Responsive ****/
.info_location {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  background-color: #dedcdc;
  gap: 10px;
  width: 101%;
}
@media all and (min-width: 1024px) {
  .info_location {
    width: 100%;
  }
}

.info_icon {
  display: flex;
  align-items: center;
  gap: 10px;
}

.info_form {
  position: relative;
  display: flex;
  align-items: center;
  width: 109px;
  font-weight: 500;
}
.info_form .placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  pointer-events: none;
}
.info_form .info__city:focus + .placeholder {
  display: none;
}

.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 20px 0;
  background-color: whitesmoke;
  text-align: center;
  width: 103%;
}
@media all and (min-width: 1024px) {
  .hero {
    width: 100%;
  }
}
.hero__title {
  width: 70%;
  margin: 0;
  /*@include title__heading;*/
}
.hero p {
  width: 85%;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 300;
}
@media all and (min-width: 1024px) {
  .hero p {
    margin-bottom: 20px;
  }
}

.functioning {
  width: 90%;
  margin: auto;
  padding: 50px 0;
}
.functioning__title {
  margin: 10px 0;
  /* @include title__heading;*/
}
.functioning__list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 95%;
  padding-bottom: 10px;
  margin: auto;
}
@media all and (min-width: 1024px) {
  .functioning__list {
    flex-direction: row;
    justify-content: space-between;
  }
}

.functioning__step {
  display: flex;
  align-items: center;
  margin: 15px 0;
  border-radius: 20px;
  gap: 4%;
  background-color: #f7f7f7;
  box-shadow: 0 2px 5px 0;
}
@media all and (min-width: 1024px) {
  .functioning__step {
    width: 30%;
  }
}
.functioning__step:hover {
  background-color: #f2eafb;
}
.functioning__step:hover > .functioning__step--icon {
  color: #9356dc;
}
.functioning__step .fa-solid {
  color: #7e7e7e;
}
.functioning__step--number {
  border-radius: 50%;
  color: white;
  background-color: #9356dc;
  padding: 2px 7px;
  margin: 0 25px 0 -12px;
}
.functioning__step--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 10px;
  color: icon;
}
.functioning__step--subtitle {
  font-weight: 500;
}

/* Color */
/**** Responsive ****/
/**** set-logo ****/
/**** title d'en tête ****/
/**** font weight ****/
/**** Shadow ****/
.page__restaurant--img {
  position: relative;
  width: 100%;
  height: 250px;
}
@media all and (min-width: 1024px) {
  .page__restaurant--img {
    height: 400px;
  }
}
.page__restaurant--img img {
  width: 100%;
  height: 107%;
  -o-object-fit: cover;
     object-fit: cover;
}

nav {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 38, 0.15);
}
nav a {
  position: absolute;
  display: flex;
  align-items: center;
  left: 23px;
}
nav img {
  width: 162px;
  max-height: 100%;
  padding: 20px 0px 12px 0px;
}

.restaurant-name {
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
}

.slight {
  position: relative;
  background-color: #f0f0f0;
  border-radius: 25px 25px 0px 0px;
  padding: 2% 5% 5% 5%;
  z-index: 0;
}
@media all and (min-width: 1024px) {
  .slight {
    max-width: 1024px;
    margin: auto;
  }
}
.slight__heading {
  display: flex;
  align-items: center;
  margin: auto;
}
@media all and (min-width: 768px) {
  .slight__heading {
    width: 400px;
    height: 41px;
    justify-content: center;
  }
}
@media all and (min-width: 1024px) {
  .slight__heading {
    width: 400px;
    height: 41px;
    justify-content: center;
  }
}
.slight__heading h2 {
  width: 87%;
  font-family: "Shrikhand";
  font-size: 28px;
  font-weight: 400;
}
@media all and (min-width: 1024px) {
  .slight__heading h2 {
    display: flex;
    font-size: 40px;
    width: 95%;
  }
}
@media all and (min-width: 768px) {
  .slight__heading h2 {
    display: flex;
    font-size: 35px;
    width: 95%;
  }
}
@media all and (min-width: 1024px) {
  .slight__container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
}
.slight__orderbtn {
  display: flex;
  justify-content: center;
}

.race-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media all and (min-width: 768px) {
  .race-list {
    width: 100%;
  }
}
.race-list__heading {
  position: relative;
  margin: 4% 0% 2% 0%;
  padding: 10px 0px;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
}
@media all and (min-width: 1024px) {
  .race-list__heading {
    font-size: 22px;
  }
}
.race-list__heading::after {
  display: block;
  position: absolute;
  bottom: 2px;
  content: "";
  width: 40px;
  height: 4px;
  background-color: #99e2d0;
}

.race-cards {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0px;
  padding: 0;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 0 4px 10px 0 #d5d5d5;
  overflow: hidden;
  cursor: pointer;
}
.race-cards:hover > .race-cards__checkout {
  margin-right: 0px;
}
.race-cards:hover > .race-cards__checkout::after {
  transform: rotate(360deg);
}
.race-cards__info {
  display: flex;
  flex: 1;
  justify-content: space-between;
  width: 100%;
  margin: 2%;
  gap: 2%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.race-cards__description {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  padding: 5px;
}
.race-cards__description h4 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.race-cards__description p {
  margin: 0;
  font-weight: 300;
  font-size: 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.race-cards__price {
  display: flex;
  align-self: flex-end;
  font-family: "roboto";
  font-weight: 500;
  padding: 15px;
}
.race-cards__price p {
  margin: 0;
  font-weight: 500;
}
.race-cards__checkout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 20%;
  margin-right: -20%;
  border-radius: 0px 15px 15px 0px;
  background-color: #99e2d0;
  transition: margin-right 800ms cubic-bezier(0.63, 1.23, 0.96, 0.92);
}
.race-cards__checkout::after {
  display: inline-block;
  margin: auto;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 25px;
  content: "\f058";
  color: #ffffff;
  transition: transform 800ms cubic-bezier(0.63, 1.23, 0.96, 0.92);
}

.icons-reposition {
  font-size: 30px;
  position: relative;
  display: flex;
  gap: 8px;
}
.icons-reposition icons-reposition-liked {
  display: inline-block;
  opacity: 1;
}
.icons-reposition icons-reposition-notLiked {
  display: none;
}
.icons-reposition:hover .icons-reposition-liked, .icons-reposition:active .icons-reposition-liked {
  opacity: 1;
}
.icons-reposition-notLiked {
  position: absolute;
}
.icons-reposition-liked {
  position: relative;
  background: linear-gradient(160deg, rgb(255, 121, 218) 0%, rgb(147, 86, 220) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: opacity 500ms ease-in-out;
  opacity: 0;
}

.menu-button {
  padding: 40px;
}

.menu-footer {
  padding: 22px 25px;
  background-color: #353535;
}
.menu-footer h2 {
  font-family: shrikhand;
  font-weight: lighter;
  color: white;
  font-size: 18px;
}
.menu-footer li {
  color: white;
}
.menu-footer ul {
  list-style: none;
  padding: 0;
}
.menu-footer i {
  margin-right: 10px;
}

.loading-spinner-container {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #9356dc;
  opacity: 0.95;
  animation: loading-appear 4s both ease-in-out;
  z-index: 21;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading-spinner {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 290px;
  min-width: 290px;
  height: 290px;
  border-radius: 50%;
  background: gradient-loader;
  z-index: 0;
  animation: rotate-gradient 3s infinite;
  /* Gradient */
  /* Loading spinner animation delay */
}
.loading-spinner::after {
  z-index: 0;
  position: absolute;
  content: "";
  width: 85%;
  height: 85%;
  background-color: #ffffff;
  border-radius: 50%;
}
.loading-spinner__border {
  z-index: -1;
  position: absolute;
  width: 290px;
  height: 290px;
  background-color: #e6e6e6;
  border-radius: 50%;
}
.loading-spinner__plate {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border: 4px solid #666666;
  background-color: #595959;
  margin: 0% 2%;
  border-radius: 50%;
  z-index: 3;
}
.loading-spinner__plate::before {
  position: absolute;
  display: flex;
  width: 93%;
  height: 93%;
  border-radius: 50%;
  border-bottom: 2px solid #ffffff;
  background-color: transparent;
  transform: rotate(-25deg);
  overflow: hidden;
  content: "";
}
.loading-spinner__plate::after {
  position: absolute;
  display: flex;
  width: 75%;
  height: 75%;
  border-radius: 50%;
  border: 4px solid #ffffff;
  background-color: #404040;
  overflow: hidden;
  content: "";
}
.loading-spinner__plate__knife {
  position: absolute;
  right: -40%;
  height: 120px;
  width: auto;
  z-index: 6;
  opacity: 1;
  animation: ustensils-moving 500ms 610ms;
}
.loading-spinner__plate__knife img {
  height: 100%;
}
.loading-spinner__plate__fork {
  position: absolute;
  left: -40%;
  height: 120px;
  width: auto;
  z-index: 5;
  opacity: 1;
  animation: ustensils-moving 500ms 1830ms;
}
.loading-spinner__plate__fork img {
  height: 100%;
}
.loading-spinner__plate__food12 {
  width: 25%;
  height: 25%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-spinner__plate__food12::before {
  position: absolute;
  top: 35%;
  right: 31%;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  content: "\f578";
  color: #ffffff;
  transform: translateY(-150px);
  animation: icons-appearing 610ms both;
}
.loading-spinner__plate__food12::after {
  width: auto;
  height: auto;
  z-index: 1;
  position: absolute;
  top: 35%;
  right: 30%;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  content: "\f7ec";
  color: #ffffff;
  transform: translateY(-150px);
  animation: icons-appearing icons-delay 610ms both;
}
.loading-spinner__plate__food34 {
  width: 25%;
  height: 25%;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}
.loading-spinner__plate__food34::before {
  position: absolute;
  top: 35%;
  right: 33%;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  content: "\f7ef";
  color: #ffffff;
  transform: translateY(-150px);
  animation: icons-appearing 610ms 1220ms both;
}
.loading-spinner__plate__food34::after {
  position: absolute;
  top: 30%;
  right: 37%;
  display: inline-block;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 40px;
  content: "\f5d1";
  color: #ffffff;
  transform: translateY(-150px);
  animation: icons-appearing 610ms 610ms 3 both;
}
@keyframes icons-appearing {
  0% {
    transform: translateY(-150px);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.5, 0.78, 0.83, 0.67);
  }
  40% {
    transform: translateY(-10px);
    opacity: 1;
  }
  60% {
    transform: translateY(-10px);
    opacity: 1;
  }
  67% {
    transform: rotate(10deg);
  }
  74% {
    transform: rotate(-10deg);
  }
  80% {
    transform: translateY(-10px);
    opacity: 1;
  }
  100% {
    transform: translateY(150px);
    opacity: 0;
    animation-timing-function: cubic-bezier(0.5, 0.78, 0.83, 0.67);
  }
}
@keyframes loading-appear {
  50% {
    opacity: 0.95;
  }
  99% {
    z-index: 21;
  }
  100% {
    opacity: 0;
    z-index: -20;
  }
}
@keyframes rotate-gradient {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=main.css.map */