/* Color */

$main-color: #9356dc;
$secondary-color: #ff79da;
$third-color: #99e2d0;
$background-color: #f2f2f2;
$grey: #eaeaea;
$white: #ffffff;
$shadow: #d5d5d5;
$black: #353535;
$LightGray: #f6f6f6;
$icon: #7e7e7e;

/* Gradient */
$gradient-loader: linear-gradient(
  to top,
  lighten($main-color, 10%),
  $secondary-color,
  transparent,
  transparent
);

/**** Degree Gradient ****/
$degree: 357deg;

/**** width ****/
$whiteMobile: 90%;

/* Loading spinner animation delay */
$icons-delay: 610ms;

/**** Responsive ****/
$breakpoints: (
  table: 768px,
  desktop: 1024px,
);
