.footer {
  padding: 22px 20px;
  background-color: #353535;
  width: 89%;

  @media all and (min-width: 768px) {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    justify-content: flex-start;
    height: 114px;
    gap: 16px;
  }

  @media all and (min-width: 1024px) {
    flex-flow: row-reverse;
    align-items: baseline;
    gap: 90px;
    width: 97%;
  }
  h2 {
    font-family: shrikhand;
    font-weight: lighter;
    color: white;
    font-size: 18px;
  }

  i {
    margin-right: 10px;
  }

  p {
    margin: 5px 0;
  }

  ul {
    list-style: none;
    padding: 0;
    @media all and (min-width: 1024px) {
      list-style: none;
      flex-flow: row;
      display: flex;
      align-items: center;
      gap: 30px;
      
    }
  }

  li {
    color: white;
    list-style: none;
    padding-bottom: 5px;
  }

  &_logo {
    margin: 0 0 16px 0;
    font-size: 18px;
    @media all and (min-width: 1024px) {
      width: 137px;
      margin: 0;
    }
  }

  &__bloc {
    display: flex;
    flex-direction: column;

    @media all and (min-width: 1024px) {
      flex-direction: row;
      align-items: center;
      gap: 7px;
    }
  }

  &__nav {
    display: flex;
    align-items: center;
    font-weight: 500 map-get;
    gap: 7px;

    @media all and (min-width: 1024px) {
      width: 190px;
    }

    &_icon {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 16px;
      height: 13px;
      font-size: 13px;
    }

    &--info {
      @media all and (min-width: 768px) {
        & p {
          width: 130px;
          height: 20px;
        }
      }
    }
  }
}
